@import 'tailwindcss';

/* Light theme */
.tweet .react-tweet-theme {
  /* margin is handled by our wrappers */
  --tweet-container-margin: 0;
  --tweet-font-family: inherit;
  --tweet-font-color: inherit;

  /* Light colors */
  --tweet-bg-color: #fff;
  --tweet-bg-color-hover: var(--tweet-bg-color);
  --tweet-color-blue-secondary: rgb(75 85 99); /* gray-600 */
  --tweet-color-blue-secondary-hover: rgb(243 244 246); /* gray-100 */
  --tweet-font-color-secondary: rgb(107 114 128); /* gray-500 */

  /* Common properties for both themes */
  --tweet-quoted-bg-color-hover: rgba(0, 0, 0, 0.03);
  --tweet-border: 1px solid rgb(207, 217, 222);
  --tweet-skeleton-gradient: linear-gradient(270deg, #fafafa, #eaeaea, #eaeaea, #fafafa);
  --tweet-color-red-primary: rgb(249, 24, 128);
  --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
  --tweet-color-green-primary: rgb(0, 186, 124);
  --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
  --tweet-twitter-icon-color: var(--tweet-font-color);
  --tweet-verified-old-color: rgb(130, 154, 171);
  --tweet-verified-blue-color: var(--tweet-color-blue-primary);
  --tweet-actions-font-weight: 500;
  --tweet-replies-font-weight: 500;
}

/* Dark theme */
.dark {
  .tweet .react-tweet-theme {
    /* Dark theme colors */
    --tweet-bg-color: #222;
    --tweet-bg-color-hover: var(--tweet-bg-color);
    --tweet-quoted-bg-color-hover: rgba(255, 255, 255, 0.03);
    --tweet-border: 1px solid #333;
    --tweet-color-blue-secondary: #ffffff; /* white */
    --tweet-color-blue-secondary-hover: #333;
    --tweet-font-color-secondary: rgb(156 163 175); /* gray-400 */
  }
}

/* Common styles for both themes */
.tweet .react-tweet-theme p {
  font-size: inherit;
  line-height: 1.3rem;
}

.tweet .react-tweet-theme p a {
  border-bottom: 1px solid #d1d5db; /* gray-300 */
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tweet .react-tweet-theme p a:hover {
  border-bottom-color: #4b5563; /* gray-600 */
  text-decoration: none;
}

/* Dark theme link styles */
@media (prefers-color-scheme: dark) {
  .tweet .react-tweet-theme p a {
    border-bottom-color: #6b7280; /* gray-500 */
    color: #ffffff;
  }

  .tweet .react-tweet-theme p a:hover {
    border-bottom-color: #ffffff;
  }
}

.tweet a div {
  font-weight: 500;
}

.tweet div[class*='mediaWrapper'] {
  max-height: 250px;
}
